body {
  font-family: 'Playfair Display', serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Roboto', sans-serif;
}
h1{
  font-size: 4rem;
}
p {
  font-size: 1.5rem;
}

.active {
  background: linear-gradient(62deg, #fbab7e, #f7ce68);
}

.nav-link .active {
  background-color: none;
}
.navbar-brand img{
  max-height: 4rem;
  height: auto;
}
.navbar {
  padding: 0;
}
.hero {
  padding-top: 56px;
  height: 35rem;
  display: flex;
  align-items: center;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#456fa3+0,2d517d+100 */
  background: -webkit-linear-gradient(top, #456fa3 50%,#2d517d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #456fa3 50%,#2d517d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#456fa3', endColorstr='#2d517d',GradientType=0 ); /* IE6-9 */

}

.copy {
  padding: 5rem 0;
}

a {
  color: inherit;
}
a:-webkit-any-link {
  color: #FCB455;
}

.header-mail {
  margin: 1rem;
  display: block;
  padding: 2.5rem 1rem;
  background: linear-gradient(62deg, #fbab7e, #f7ce68);
  border-radius: 7px;
}
#mailchimp {
  padding: 0.5rem;
}
#mc_embed_signup {
  clear: left;
  font: inherit;
  width: 100%;
}

#mc_embed_signup_scroll {
  display: flex;
}

@media only screen and (max-width: 1000px ){
  .header-mail-mobile {
    display: none;
  }
}

.testimonial {
  padding: 3rem;
  width: auto;
}

.offset {
  padding: 3rem;
}

.jumbotron {
  height: 35rem;
  margin-bottom: 0;
}

@media only screen and (max-width:480px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  p {
    font-size: 1.1rem;
  }
  .hero {
    height: auto;
  }
  .offset {
    padding: 1.5rem;
  }

}


.jumbotron-one {
  background-image: url("./../images/carousel-image-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-two {
  background-image: url("./../images/carousel-image-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-three {
  background-image: url("./../images/carousel-image-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
